recursive-include json_to_csv *.py
recursive-include doc *.html
include MANIFEST.in
include setup.py
include jsonToCsv
include example.py
include example.json
include example_multi.py
include example_multi.json
include ChangeLog
include README.md
include README.rst
